<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plaching</title>
    <link rel="stylesheet" href="/stylesheet.css">
</head>
<body>
    <h1>Plaching - Homepage</h1>
    <div>
        <h2>Plaching is a wedding photo app where people can view and upload photo's of a wedding.</h1>
        <button type="button" onclick="window.location.href = '/register'">Register a wedding</button>
    </div>
    <div style="background-color: rgb(30, 30, 70); margin-top: 15px;">
        <h1>FAQ's</h1>
        <div>
            <h2>How do I upload photo's to a wedding registered with Plaching?</h2>
            <p>The wedding hosts should have QR codes you can scan on your phone or check your emails / messages to see if you have been sent the wedding link or QR code.</p>
        </div>
        <div>
            <h2>Why should I use Plaching at my wedding?</h2>
            <p>Plaching allows you to get many different people's perspectives of your wedding and unique photos that aren't normally captured at a wedding.</p>
        </div>
    </div>
    <div style="background-color: rgb(221, 169, 0); margin-top: 24px;">
        <h1>Pricing</h1>
        <p>Completely free! It makes me happy when people are using something that I created.</p>
    </div>
</body>
</html>