<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plaching - Verify Success</title>
    <!--<script type="module" src="https://unpkg.com/qr-code-styling@1.5.0/lib/qr-code-styling.js"></script>-->
    <script type="module" src="/verify_success.js"></script>
</head>
<body>
    <h1>Your wedding is ready to recieve photos!</h1>
    <h2>You will recieve an email on the day with the QR code and link again.</h2>
    <h3><a id="wedding-link"></a></h3>
    <img id="qr-img">
</body>
</html>